# MongoDB Connection String
# Replace with your personal MongoDB Atlas URI or local MongoDB URI
MONGODB_URI=mongodb+srv://username:password@cluster0.nvkdudg.mongodb.net/naukri_jobs

# cors urls
CORS_ORIGINS=*,http://localhost:5000,https://yourdomain.com

# redis
REDIS_URL='redis://127.0.0.1:6379'

# Naukri Login Credentials
NAUKRI_EMAIL=your-email@example.com
NAUKRI_PASSWORD=your-password
